
// Fastq_files_directory_path Adapater_seq_file_path Reference_file_path Output_directory

manifest {
    author = "ycode-sh"
    description = "Comprehenisive taxonomic determination and species identification"
    nextflowVersion = "22.10.1"
    version = "1.0.0"
}

dag {
    enabled = true
    file = "taxonomic_id_sketch"
}

params {
    ref_seq_path_d = "~/module_scripts/resources/Reference/h37rv.fasta"
    adp_path_d = "~/module_scripts/resources/Adapters/NexteraPE-PE.fa"
    out_dir = "$PWD"
}

report {
    enabled = true
    file  = "taxonomic_id_nextflow_report"
}

trace {
    enabled = true
    file  = "taxonomic_id_nextflow_trace"
}
