
// Fastq_files_directory_path Adapater_seq_file_path Reference_file_path Output_directory

manifest {
    author = "ycode-sh"
    description = "Comprehenisive taxonomic determination and species identification"
    nextflowVersion = "22.10.1"
    version = "1.0.0"
}

/*
dag {
    enabled = true
    file = "taxonomic_id_sketch"
}
*/

params {
    ref_seq_path_d = "bin/Reference/h37rv.fasta"
    adp_path_d = "bin/Adapters/NexteraPE-PE.fa"
    out_dir_d = "$PWD"
    kraken_script = "kraken_tx_id.sh"
    genome_assembly_script = "genome_assembly.sh"
    trim_sample_script = "trim_sample.sh"
    emit_sam_script = "emit_sam.sh"
    coordsort_sam_script = "coord_sort_sam.sh"
    bamtofastq_script = "bamtofastq.sh"
    find_16S_hits_script = "run_16S_tx_id.sh"
    parse_kraken_script = "parse_kraken_output.py"
    parse_16S_script = "parse_16S_output.py"
}

/*
report {
    enabled = true
    file  = "taxonomic_id_nextflow_report"
}

trace {
    enabled = true
    file  = "taxonomic_id_nextflow_trace"
}
*/