
// Fastq_files_directory_path Adapater_seq_file_path Reference_file_path Output_directory

manifest {
    author = "ycode-sh"
    description = "Comprehenisive taxonomic determination and species identification"
    nextflowVersion = "22.10.1"
    version = "1.0.0"
}

/*
dag {
    enabled = true
    file = "taxonomic_id_sketch"
}
*/

params {
    ref_seq_path_d = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/Reference/h37rv.fasta"
    adp_path_d = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/Adapters/NexteraPE-PE.fa"
    out_dir_d = "$PWD"
    kraken_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/kraken_tx_id.sh"
    genome_assembly_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/genome_assembly.sh"
    trim_sample_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/trim_sample.sh"
    emit_sam_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/emit_sam.sh"
    coordsort_sam_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/coord_sort_sam.sh"
    bamtofastq_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/bamtofastq.sh"
    find_16S_hits_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/run_16S_tx_id.sh"
    parse_kraken_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/parse_kraken_output.py"
    parse_16S_script = "/home/dfgmrtc/Workflows/wf-module_templates/module_scripts/resources/usr/bin/parse_16S_output.py"
}

/*
report {
    enabled = true
    file  = "taxonomic_id_nextflow_report"
}

trace {
    enabled = true
    file  = "taxonomic_id_nextflow_trace"
}
*/